@import "styles/theme";

.root {
  background-color: $background-dark;
  min-height: 100vh;

  button {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  > section {
    position: relative;
    z-index: 2;
  }

  .cover {
    position: fixed;
    background-image: url("/pattern.svg");
    z-index: 1;
    left: 0;
    top: 0;
    opacity: .1;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
  }
}

.container {
  padding-top: 24px;
  max-width: $lg;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

  .item {
    width: calc(50% - 8px);

    textarea {
      width: 100%;
      background-color: #0f0f0f;
      border: 1px solid #cccccc;
      border-radius: 0;
      padding: 24px 16px;
      color: #dcdcdc;
      outline: none;
      //opacity: .8;
    }

    textarea:focus {
      border: 1px solid $primary;
    }

    textarea:disabled {
      //opacity: .5;
    }
  }

  @media screen and (max-width: $md) {
    margin: 16px;
    .item {
      width: 100%;
    }
  }

}
