$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1224px;
$grid: 1150px;
$xl: 1536px;



$background-dark: #000000;
$text-primary-dark: #FFFFFF;
$text-secondary-dark: #BBBBBB;
$paper-dark: #131313;


$black: #0B0D17;
$primary: #4040DA;
$text-primary: #FFFFFF;
$text-secondary: #403E43;
$white: #ffffff;
$grey: #858585;